.env
.DS_Store
.venv
/.npmrc
venv
node_modules/
raw/
processed/
.claude/

# PyTorch model weights
*.pt
node_modules/
backend/data/SeaShips/
backend/data/CombinedShips/
tekstskriving/text.md
CLAUDE.md
