header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.brilliance {
  position: absolute;
  top: 4px;
  right: 48px;
  z-index: 101;
}

main {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 16px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.rich-button {
  display: block;
  max-width: 500px;
}