html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--container-backdrop-color);
  font-family: "Noto Sans", sans-serif;
}

@font-face {
  font-family: "Noto Sans";
  src: url(/NotoSans.ttf) format("truetype");
}

obc-test::part(link) {
  color: red;
  text-decoration: none;
}
